.navigation-bar a{
    color: gray;
}

.navigation-bar a:hover{
    color: white;
}



.profile {
  display: flex;
  gap: 40px;
  margin-top: 50px;
  align-items: flex-start;
}

/* FOTO */
.profile-left img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #ddd;
}

/* SAĞ KISIM */
.profile-right {
  flex: 1;
}

.profile-right p {
  margin: 5px 0;
  color: #444;
}


.profile-right ul{
    background-color: #f8f9fa;
    padding: 20px 30px;
    border-radius: 12px;

    border-left: 4px solid gray;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    list-style-type: square;
}

.profile-right ul li{
    margin-bottom: 12px;
    line-height: 1.6;
}

.profile-right ul li:last-child{
    margin-bottom: 0;
}