.navigation-bar a{
color: gray;
}

.navigation-bar a:hover{
color: white;
}
.contact-box{
background:#f8f9fa;
padding:30px;
border-radius:16px;
box-shadow:0 6px 18px rgba(0,0,0,.08);
}

.contact-title{
display:inline-block;
font-size:24px;
font-weight:700;
border-bottom:2px solid gray;
padding-bottom:6px;
margin-bottom:20px;
}
.form-box{
background: #fff;
padding: 15px;
border-radius: 12px;
box-shadow: 0 3px 10px rgba(0,0,0,.06);
height: 100%;
box-sizing: border-box;
transition: 0.3s;
}

.form-box:hover{
transform: translateY(-3px);
}

.fixed-textarea{
height: 100px;
resize: none; 
}

@media (max-width: 768px){

  .navigation-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }

  .navigation-bar a {
    color: gray !important;
  }
  .navigation-bar a:hover{
    color: white !important;
  }
}